
// Partials
@import './mixins.scss';
@import './variables.scss';


// Modules
@import './util.scss';
@import './typography.scss';
@import './buttons.scss';
@import './navbar.scss';
@import './forms.scss';
@import './alerts.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700');


// Globals

@include layout-util((6, 12, 28, 36, 60));

body {
    font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;
    color: $col-default;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

iframe {
    margin: 10px 0;
    border: 0;
    display: block;
}

/*
$col-default: rgba(53, 53, 49, 1);
$col-danger: rgba(236, 78, 32, 1);
$col-warning: rgba(255, 149, 5, 1);
$col-primary: rgba(1, 111, 185, 1);
$col-dark: rgba(0, 0, 0, 1);
$col-info: rgba(71, 0, 36, 1);
$col-secondary: rgba(110, 144, 117, 1);
$col-background: rgba(250, 250, 250, 1);
*/

/* Globals */


* {
    box-sizing: border-box;
}


html {
    background: $col-background;
    font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma;
}

body {
    margin: 0;
    overflow-x: hidden;
}

